.nav-item:not(:last-child){
    border-right: #52D7EC 1px solid;
}
.nav-item{
    color: #52D7EC;
    font-weight: bold;
    font-size: 1.2em;
}
.display-1{
    color: #52D7EC;
    font-weight: bold;
    text-shadow: black 2px 2px 2px;
}
.display-6{
    color: #52D7EC;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: black 2px 2px 2px;
}

